{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/17.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <div class="breadcrumb-post-content">
                            <h2 class="post-title">{{ obj.title }}</h2>
                            <div class="post-meta">
                                <a href="#" class="post-date"><i class="fa fa-calendar"
                                                                 aria-hidden="true"></i> {{ obj.created_date|date:"M d, Y" }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">

                    <div class="post-thumbnail mb-50">
                        <img src="{{ obj.image_blog_set.first.image.url }}" alt="">
                    </div>

                    <div class="blog-details-text">
                        <p>{{ obj.description|safe }}</p>
                    </div>

                    <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                        <ul class="popular-tags">
                            {% for tag in obj.tags.all %}
                                <li><a href="#">{{ tag }} / </a></li>
                            {% endfor %}
                        </ul>

                        <div class="author-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="comment_area mb-50 clearfix">
                        <h2>{{ obj.comment_set.count }} Comments</h2>
                        {% for i in reply_to_comment %}
                            <ol>
                                <li class="single_comment_area">
                                    <div class="comment-content d-flex">

                                        <div class="comment-author">
                                            {% if i.image %}
                                                <img src="{{ i.image.url }}" alt="author">
                                            {% else %}
                                                <img src="{% static 'img/comment/unnamed.jpg' %}" alt="">
                                            {% endif %}

                                        </div>

                                        <div class="comment-meta">
                                            <a href="#" class="post-date">{{ i.created_date|date:'M d, Y' }}</a>
                                            <h5>{{ i.name }}</h5>
                                            <p>{{ i.message }}</p>
                                            <a href="?reply_to_comment={{ i.id }}#comment" class="reply">Reply</a>
                                        </div>
                                    </div>
                                    {% if i.comment_set.all %}
                                        {% for j in i.get_children %}
                                            <ol class="children">
                                                <li class="single_comment_area">

                                                    <div class="comment-content d-flex">

                                                        <div class="comment-author">
                                                            {% if j.image %}
                                                                <img src="{{ j.image.url }}" alt="author">
                                                            {% else %}
                                                                <img src="{% static 'img/comment/unnamed.jpg' %}"
                                                                     alt="">
                                                            {% endif %}

                                                        </div>

                                                        <div class="comment-meta">
                                                            <a href="#" class="post-date">{{ j.created_date|date:"M d, Y" }}</a>
                                                            <h5><code>{{ j.name }}</code> to <code>{{ j.reply_comment }}</code></h5>
                                                            <p>{{ j.message }}</p>
                                                            <a href="?reply_to_comment={{ j.id }}#comment" class="reply">Reply</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        {% endfor %}



                                    {% endif %}
                                </li>
                            </ol>
                        {% endfor %}


                    </div>

                    <div class="roberto-contact-form mt-80 mb-100" id="comment">
                        <h2>Leave A Comment</h2>

                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    {{ form.name }}
                                </div>
                                <div class="col-12">
                                    {{ form.image }}
                                </div>
                                <div class="col-12">
                                    {{ form.message }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="roberto-sidebar-area pl-md-4">

                        <div class="single-widget-area mb-100">
                            <div class="newsletter-form">
                                <h5>Newsletter</h5>
                                <p>Subscribe our newsletter gor get notification new updates.</p>
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" id="nlEmail" class="form-control"
                                           placeholder="Enter your email...">
                                    <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <div class="single-widget-area mb-100">
                            <h4 class="widget-title mb-30">Recent News</h4>
                            {% for i in new %}
                                <div class="single-recent-post d-flex">
                                    <div class="post-thumb">
                                        <a href="{{ i.full_url }}"><img src="{{ i.image_blog_set.first.image.url }}"
                                                                        alt=""></a>
                                    </div>
                                    <div class="post-content">
                                        <div class="post-meta">
                                            <a href="{{ i.full_url }}" class="post-author">{{ i.created_date|date:'M d, Y' }}</a>
                                            <a href="{{ i.full_url }}" class="post-tutorial">Event</a>
                                        </div>
                                        <a href="{{ i.full_url }}" class="post-title">{{ i.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Tags</h4>

                            <ul class="popular-tags">
                                {% for tag in tags %}
                                    <li><a href="{% url 'blog:blog' %}?tag={{ tag }}">{{ tag }}, </a></li>
                                {% endfor %}
                            </ul>

                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Instagram</h4>

                            <ul class="instagram-feeds">
                                {% for i in obj.image_blog_set.all %}
                                    <li><a href="#"><img src="{{ i.image.url }}" alt=""></a></li>
                                {% endfor %}


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}