{% extends 'base.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'my_css/my_css.css' %}">
<div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax"
     style="background-image: url({% static 'img/bg-img/18.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center mt-100">
                    <h2 class="page-title">Contact Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="../home/index-2.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="google-maps-contact-info">
    <div class="container-fluid">
        <div class="google-maps-contact-content">
            <div class="row">

                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Phone</h4>
                        <p>+998(77)-777-77-77</p>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4>Address</h4>
                        <p>Uzbekistan Tashkent </p>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h4>Email</h4>
                        <p>Info.colorlib @gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.8850558120766!2d69.27780729157644!3d41.31136409733382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b2bec875291%3A0x22b5bc120c7e164!2sUzbekistan%20Hotel!5e0!3m2!1sru!2s!4v1688473609721!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>


<div class="roberto-contact-form-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Contact Us</h6>
                    <h2>Leave Message</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="roberto-contact-form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                           <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                {{ form.name }}
                            </div>
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                {{ form.email }}
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="100ms" >
                               {{ form.message }}
                            </div>
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                <button type="submit" class="btn roberto-btn mt-15">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}