<ul class="pagination">
    {% if objects.has_previous %}
        <li class="page-item"><a class="page-link"
                                 href="?page={{ objects.previous_page_number }}#page">Previous <i
                class="fa fa-angle-right"></i></a>
        </li>
    {% endif %}
    {% for page in objects.paginator.page_range %}
        <li class="page-item {% if objects.number == page %} active {% endif %}"><a
                class="page-link" href="?page={{ page }}#page">{{ page }}</a></li>
    {% endfor %}
    {% if objects.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ objects.next_page_number }}#page">Next <i
            class="fa fa-angle-right"></i></a>
    {% endif %}

    </li>
</ul>